@font-face{font-family:bjpg;src:url(https://use.typekit.net/af/54d47a/000000000000000000017750/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/54d47a/000000000000000000017750/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/54d47a/000000000000000000017750/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:bjpg;src:url(https://use.typekit.net/af/3e2979/00000000000000007735a6b9/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/3e2979/00000000000000007735a6b9/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/3e2979/00000000000000007735a6b9/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: antiquewhite; 
}

* {
  box-sizing: border-box;
}


main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
  /* border: 3px solid green; */
}

.main-text {
  padding: 0 0 100px 0;
  width: 1000px;
}

.container {
  /* height: 100vh; */
  padding: 0 20px 0 20px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: top;
  margin: auto;
}

.nav-item {
  width: 100%;
  vertical-align: top;
  padding: 1em;
  align: center;
  /* border: 3px solid black; */
}

.nav-left {
  float: left;
  padding-right: 20px;
}

.nav-right {
  float: right;
  padding-left: 40px;
}

.content {
  text-align: left;
}

.main-image {
  /* float: left; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* border: 3px solid red; */
  padding: 0 20px 20px 20px;
  /* position: 0, 0; */
}

.acc-image {
  width: 250px;
}

.description {
  font-size: 20px;  
  text-align: center;
  line-height: .5;
  padding-bottom: 40px;
  font-family: bjpg, sans-serif;
}

.testimonial {
  padding: 0 20px;
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h1, h2 {
  /* font-family: 'Savoye LET', 'Oswald', 'Filmotype Honey', 'Libre Franklin', 'Calibri', 'Trebuchet MS', sans-serif; */
  font-family: bjpg, sans-serif;
}

h1 {
  font-size: 40px;
  line-height: .2;
  text-align: center;
  padding-top: 10px;
}

h2 {
  font-size: 30px;
  line-height: .25;
  text-align: center;
}

p, ul {
  font-family: bjpg, Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Roboto', 'Trebuchet MS', 'Geneva', sans-serif; */
  font-size: 18px;
  line-height: 1.4;
}

a:visited {
  font-style: bold;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

